.container-home {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../public/Group 11.svg"), url("../../public/IMG_5617\ 1.svg");
        background-size: 60% auto, cover; 
        background-position: left;
        background-repeat: no-repeat;
        opacity: 0.3; 
        z-index: -1; 
    }

    .fumaça1 {
        position: absolute;
        top: -20px;
        left: -60px;
        width: 60px;
        height: 100px;
        background-color: #00ff33cb;
        border-radius: 50%;
        position: absolute;
        animation: fumaça 4s infinite ease-in-out;
        box-shadow: 0 0 60px 20px #00ff3300, 0 0 120px 30px #00ff33cb; /* Sombra mais forte e difusa */
    }

    .fumaça2 {
        position: absolute;
        top: -60px;
        right: 0;
        width: 140px;
        height: 60px;
        background-color: #00ff33cb;
        border-radius: 50%;
        position: absolute;
        animation: fumaça 4s infinite ease-in-out;
        box-shadow: 0 0 60px 20px #00ff333f, 0 0 120px 30px #00ff33cb; /* Sombra mais forte e difusa */
    }

    .fumaça3 {
        position: absolute;
        bottom: -50px;
        left: 50%;
        width: 100px;
        height: 0;
        background-color: #00ff33cb;
        border-radius: 50%;
        position: absolute;
        animation: fumaça 4s infinite ease-in-out;
        box-shadow: 0 0 60px 20px #00ff332c, 0 0 120px 30px #00ff33cb; /* Sombra mais forte e difusa */
    }

    .container-info {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        width: 100%;
        height: auto;

        .info {
            display: flex;
            justify-content: center;
            align-items: left;
            flex-direction: column;
            width: 80%;
            padding-left: 4rem;
            
            :nth-child(2) {
                margin-bottom: 0s;
            }

            h1 {
                font-size: 2.5rem;
                font-family: "Roboto", sans-serif;
                color: #F3D991;
                font-weight: 500;
            }

            p {
                font-family: "Roboto", sans-serif;
                color: #F3D991;
                font-size: 1.875rem;
                font-weight: 300;
            }
        }

        .button-whatsApp {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to right, #00ff33cb, rgba(0, 255, 51, 0.267)); 
            background-color: transparent;
            border-radius: 3rem;
            width: 400px;
            height: 100px;
            margin-left: 4rem;
            box-shadow: 0px 0px 20px 6px#00ff33cb;

            button {
                font-family: "Roboto", sans-serif;
                font-weight: 600;
                background-color: transparent;
                border: 4px solid white;
                border-radius: 3rem;
                color: white;
                font-size: 1.4rem;
                text-transform: uppercase;
                width: 390px;
                height: 90px;
            }
        }
    }

    img {
        width: auto;
        height: 100vh;
        margin-right: -8px;
        margin-top: -10px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1124px){
    .container-home {
        height: 900px;
        max-height: 900px;
        min-height: 780px;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 900px;
            max-height: 900px;
            min-height: 780px;
            background-image: url("../../public/Group 11.svg"), url("../../public/IMG_5617\ 1.svg");
            background-size: 100% auto, cover; 
            background-position: bottom;
            background-repeat: no-repeat;
            opacity: 0.4; 
            z-index: -1; 
        }

        .fumaça1 {
            display: none;
        }
    
        .fumaça2 {
            display: none;
        }
    
        .fumaça3 {
            display: none;
        }

        .container-info {
            height: 100%;
            gap: 20px;

            .info {
                width: 90%;
                padding-left: 2rem;
                padding-top: 1rem;

                h1 {
                    font-size: 2.5rem;
                    font-family: "Roboto", sans-serif;
                    color: #F3D991;
                    font-weight: 400;
                    width: 99%;
                    margin-bottom: 0;
                    min-width:550px;
                }
    
                p {
                    font-family: "Roboto", sans-serif;
                    color: #F3D991;
                    font-size: 1.875rem;
                    font-weight: 300;
                    min-width: 340px;
                    max-width: 600px;
                }
            }

            .button-whatsApp {
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(to right, #00ff33cb, rgba(0, 255, 51, 0.267)); 
                background-color: transparent;
                border-radius: 3rem;
                width: 300px;
                height: 70px;
                margin-left: 2rem;
                box-shadow: 0px 0px 20px 6px#00ff33cb;
    
                button {
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    background-color: transparent;
                    border: 4px solid white;
                    border-radius: 3rem;
                    color: white;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    width: 290px;
                    height: 60px;
                }
            }
        }

        img {
            height: 100%;
            max-height: unset;
            position: relative;
            left: 0;
            margin-top: unset;
            margin-right: unset;
        }
    }
}

@media screen and (max-width: 1124px) and (min-width: 980px) {
    .container-home {
        height: 900px;
        max-height: 900px;
        min-height: 780px;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 900px;
            max-height: 900px;
            min-height: 780px;
            background-image: url("../../public/Group 11.svg"), url("../../public/IMG_5617\ 1.svg");
            background-size: 100% auto, cover; 
            background-position: bottom;
            background-repeat: no-repeat;
            opacity: 0.4; 
            z-index: -1; 
        }

        .fumaça1 {
            display: none;
        }
    
        .fumaça2 {
            display: none;
        }
    
        .fumaça3 {
            display: none;
        }

        .container-info {
            height: 100%;
            gap: 20px;

            .info {
                width: 90%;
                padding-left: 2rem;
                padding-top: 1rem;

                h1 {
                    font-size: 2.5rem;
                    font-family: "Roboto", sans-serif;
                    color: #F3D991;
                    font-weight: 400;
                    width: 99%;
                    margin-bottom: 0;
                    min-width: 350px;
                }
    
                p {
                    font-family: "Roboto", sans-serif;
                    color: #F3D991;
                    font-size: 1.8rem;
                    font-weight: 300;
                    min-width: 340px;
                    max-width: 600px;
                }
            }

            .button-whatsApp {
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(to right, #00ff33cb, rgba(0, 255, 51, 0.267)); 
                background-color: transparent;
                border-radius: 3rem;
                width: 300px;
                height: 70px;
                margin-left: 2rem;
                box-shadow: 0px 0px 20px 6px#00ff33cb;
    
                button {
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    background-color: transparent;
                    border: 4px solid white;
                    border-radius: 3rem;
                    color: white;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    width: 290px;
                    height: 60px;
                }
            }
        }

        img {
            height: 45vw;
            max-height: 700px;
            position: relative;
            left: 8px;
            margin-top: -300px;
            margin-right: unset;
        }
    }
}

@media screen and (max-width: 980px) and (min-width: 820px) {
    .container-home {
        height: 800px;
        max-height: 800px;
        min-height: 780px;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 800px;
            max-height: 800px;
            min-height: 780px;
            background-image: url("../../public/Group 11.svg"), url("../../public/IMG_5617\ 1.svg");
            background-size: 100% auto, cover; 
            background-position: bottom;
            background-repeat: no-repeat;
            opacity: 0.4; 
            z-index: -1; 
        }

        .fumaça1 {
            display: none;
        }
    
        .fumaça2 {
            display: none;
        }
    
        .fumaça3 {
            display: none;
        }

        .container-info {
            gap: 20px;

            .info {
                width: 90%;
                padding-left: 1rem;
                padding-top: 2.5rem;

                h1 {
                    font-size: 2.5rem;
                    font-family: "Roboto", sans-serif;
                    color: #F3D991;
                    font-weight: 400;
                    width: 99%;
                    margin-bottom: 0;
                    min-width: 350px;
                }
    
                p {
                    font-family: "Roboto", sans-serif;
                    color: #F3D991;
                    font-size: 1.5rem;
                    font-weight: 300;
                    min-width: 340px;
                }
            }

            .button-whatsApp {
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(to right, #00ff33cb, rgba(0, 255, 51, 0.267)); 
                background-color: transparent;
                border-radius: 3rem;
                width: 300px;
                height: 70px;
                margin-left: 1rem;
                box-shadow: 0px 0px 20px 6px#00ff33cb;
    
                button {
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    background-color: transparent;
                    border: 4px solid white;
                    border-radius: 3rem;
                    color: white;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    width: 290px;
                    height: 60px;
                }
            }
        }

        img {
            height: 600px;
            max-height: 500px;
            position: relative;
            left: 8px;
            margin-top: -100px;
            margin-right: unset;
        }
    }
}


@media screen and (max-width: 820px) and (min-width: 520px) {
    .container-home {
        height: 890px;
        max-height: 890px;
        min-height: 780px;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 890px;
            max-height: 890px;
            min-height: 780px;
            background-image: url("../../public/Group 11.svg"), url("../../public/IMG_5617\ 1.svg");
            background-size: 100% auto, cover; 
            background-position: bottom;
            background-repeat: no-repeat;
            opacity: 0.4; 
            z-index: -1; 
        }

        .fumaça1 {
            display: none;
        }
    
        .fumaça2 {
            display: none;
        }
    
        .fumaça3 {
            display: none;
        }

        .container-info {
            gap: 20px;

            .info {
                width: 90%;
                padding-left: 1rem;
                padding-top: 2.5rem;

                h1 {
                    font-size: 2.5rem;
                    font-family: "Roboto", sans-serif;
                    color: #F3D991;
                    font-weight: 400;
                    width: 99%;
                    margin-bottom: 0;
                    min-width: 350px;
                }
    
                p {
                    font-family: "Roboto", sans-serif;
                    color: #F3D991;
                    font-size: 1.4rem;
                    font-weight: 300;
                    min-width: 340px;
                }
            }

            .button-whatsApp {
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(to right, #00ff33cb, rgba(0, 255, 51, 0.267)); 
                background-color: transparent;
                border-radius: 3rem;
                width: 300px;
                height: 70px;
                margin-left: 1rem;
                box-shadow: 0px 0px 20px 6px#00ff33cb;
    
                button {
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    background-color: transparent;
                    border: 4px solid white;
                    border-radius: 3rem;
                    color: white;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    width: 290px;
                    height: 60px;
                }
            }
        }

        img {
            height: 650px;
            max-height: 560px;
            position: relative;
            left: 100px;
            margin-top: unset;
            margin-right: unset;
            top: -100px;
        }
    }
}

@media screen and (max-width: 520px) {
    .container-home {
        height: 690px;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 690px;
            background-image: url("../../public/Group 11.svg"), url("../../public/IMG_5617\ 1.svg");
            background-size: 100% auto, cover; 
            background-position: bottom;
            background-repeat: no-repeat;
            opacity: 0.4; 
            z-index: -1; 
        }

        .fumaça1 {
            display: none;
        }
    
        .fumaça2 {
            display: none;
        }
    
        .fumaça3 {
            display: none;
        }

        .container-info {
            .info {
                width: 90%;
                padding-left: 1rem;

                h1 {
                    font-size: 2.3rem;
                    font-family: "Roboto", sans-serif;
                    color: #F3D991;
                    font-weight: 400;
                    width: 99%;
                    margin-bottom: 0;
                    min-width: 350px;
                }
    
                p {
                    font-family: "Roboto", sans-serif;
                    color: #F3D991;
                    font-size: 1rem;
                    font-weight: 300;
                    min-width: 340px;
                }
            }

            .button-whatsApp {
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(to right, #00ff33cb, rgba(0, 255, 51, 0.267)); 
                background-color: transparent;
                border-radius: 3rem;
                width: 300px;
                height: 70px;
                margin-left: 1rem;
                box-shadow: 0px 0px 20px 6px#00ff33cb;
    
                button {
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    background-color: transparent;
                    border: 4px solid white;
                    border-radius: 3rem;
                    color: white;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    width: 290px;
                    height: 60px;
                }
            }
        }

        img {
            height: 320px;
            position: relative;
            left: 8px;
            margin-top: unset;
            margin-right: unset;
        }
    }
}